extends layout
block content

    form(action="/location",method="post",enctype="multipart/form-data")
      div
        label Location Name
        input#title.form-control(type="text",name="locationName")
      

      div
        label Description
        input#description.form-control(type="text",name="description")

      
      p Default file:
          input#locationimage.form-control(type='file' name='photo')
      
      button.btn.btn-primary(type='submit') Submit
  

